/*
XMS API

XMS is the controller of distributed storage system

API version: XSCALEROS_6.4.000.2
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// OsExternalStoragePlatformTypesAPIService OsExternalStoragePlatformTypesAPI service
type OsExternalStoragePlatformTypesAPIService service

type ApiCreateOSExternalStoragePlatformTypeRequest struct {
	ctx context.Context
	ApiService *OsExternalStoragePlatformTypesAPIService
	body *OSExternalStoragePlatformTypeCreateReq
	clusterId *string
}

// external storage platform type info
func (r ApiCreateOSExternalStoragePlatformTypeRequest) Body(body OSExternalStoragePlatformTypeCreateReq) ApiCreateOSExternalStoragePlatformTypeRequest {
	r.body = &body
	return r
}

// cluster id
func (r ApiCreateOSExternalStoragePlatformTypeRequest) ClusterId(clusterId string) ApiCreateOSExternalStoragePlatformTypeRequest {
	r.clusterId = &clusterId
	return r
}

func (r ApiCreateOSExternalStoragePlatformTypeRequest) Execute() (*OSExternalStoragePlatformTypeResp, *http.Response, error) {
	return r.ApiService.CreateOSExternalStoragePlatformTypeExecute(r)
}

/*
CreateOSExternalStoragePlatformType Method for CreateOSExternalStoragePlatformType

Create os external storage platform type

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCreateOSExternalStoragePlatformTypeRequest
*/
func (a *OsExternalStoragePlatformTypesAPIService) CreateOSExternalStoragePlatformType(ctx context.Context) ApiCreateOSExternalStoragePlatformTypeRequest {
	return ApiCreateOSExternalStoragePlatformTypeRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return OSExternalStoragePlatformTypeResp
func (a *OsExternalStoragePlatformTypesAPIService) CreateOSExternalStoragePlatformTypeExecute(r ApiCreateOSExternalStoragePlatformTypeRequest) (*OSExternalStoragePlatformTypeResp, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OSExternalStoragePlatformTypeResp
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OsExternalStoragePlatformTypesAPIService.CreateOSExternalStoragePlatformType")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/os-external-storage-platform-types/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.body == nil {
		return localVarReturnValue, nil, reportError("body is required and must be specified")
	}

	if r.clusterId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cluster_id", r.clusterId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.body
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["tokenInHeader"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Xms-Auth-Token"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["tokenInQuery"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("token", key)
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetOSExternalStoragePlatformTypeRequest struct {
	ctx context.Context
	ApiService *OsExternalStoragePlatformTypesAPIService
	externalStoragePlatformTypeId int64
}

func (r ApiGetOSExternalStoragePlatformTypeRequest) Execute() (*OSExternalStoragePlatformTypeResp, *http.Response, error) {
	return r.ApiService.GetOSExternalStoragePlatformTypeExecute(r)
}

/*
GetOSExternalStoragePlatformType Method for GetOSExternalStoragePlatformType

Get an os external storage platform type info

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param externalStoragePlatformTypeId external storage platform type id
 @return ApiGetOSExternalStoragePlatformTypeRequest
*/
func (a *OsExternalStoragePlatformTypesAPIService) GetOSExternalStoragePlatformType(ctx context.Context, externalStoragePlatformTypeId int64) ApiGetOSExternalStoragePlatformTypeRequest {
	return ApiGetOSExternalStoragePlatformTypeRequest{
		ApiService: a,
		ctx: ctx,
		externalStoragePlatformTypeId: externalStoragePlatformTypeId,
	}
}

// Execute executes the request
//  @return OSExternalStoragePlatformTypeResp
func (a *OsExternalStoragePlatformTypesAPIService) GetOSExternalStoragePlatformTypeExecute(r ApiGetOSExternalStoragePlatformTypeRequest) (*OSExternalStoragePlatformTypeResp, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OSExternalStoragePlatformTypeResp
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OsExternalStoragePlatformTypesAPIService.GetOSExternalStoragePlatformType")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/os-external-storage-platform-types/{external_storage_platform_type_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"external_storage_platform_type_id"+"}", url.PathEscape(parameterValueToString(r.externalStoragePlatformTypeId, "externalStoragePlatformTypeId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["tokenInHeader"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Xms-Auth-Token"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["tokenInQuery"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("token", key)
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListOSExternalStoragePlatformTypesRequest struct {
	ctx context.Context
	ApiService *OsExternalStoragePlatformTypesAPIService
	limit *int64
	offset *int64
	platform *string
	platformType *string
	clusterId *string
}

// paging param
func (r ApiListOSExternalStoragePlatformTypesRequest) Limit(limit int64) ApiListOSExternalStoragePlatformTypesRequest {
	r.limit = &limit
	return r
}

// paging param
func (r ApiListOSExternalStoragePlatformTypesRequest) Offset(offset int64) ApiListOSExternalStoragePlatformTypesRequest {
	r.offset = &offset
	return r
}

// platform
func (r ApiListOSExternalStoragePlatformTypesRequest) Platform(platform string) ApiListOSExternalStoragePlatformTypesRequest {
	r.platform = &platform
	return r
}

// platform type
func (r ApiListOSExternalStoragePlatformTypesRequest) PlatformType(platformType string) ApiListOSExternalStoragePlatformTypesRequest {
	r.platformType = &platformType
	return r
}

// cluster id
func (r ApiListOSExternalStoragePlatformTypesRequest) ClusterId(clusterId string) ApiListOSExternalStoragePlatformTypesRequest {
	r.clusterId = &clusterId
	return r
}

func (r ApiListOSExternalStoragePlatformTypesRequest) Execute() (*OSExternalStoragePlatformTypesResp, *http.Response, error) {
	return r.ApiService.ListOSExternalStoragePlatformTypesExecute(r)
}

/*
ListOSExternalStoragePlatformTypes Method for ListOSExternalStoragePlatformTypes

List os external storage platform types

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListOSExternalStoragePlatformTypesRequest
*/
func (a *OsExternalStoragePlatformTypesAPIService) ListOSExternalStoragePlatformTypes(ctx context.Context) ApiListOSExternalStoragePlatformTypesRequest {
	return ApiListOSExternalStoragePlatformTypesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return OSExternalStoragePlatformTypesResp
func (a *OsExternalStoragePlatformTypesAPIService) ListOSExternalStoragePlatformTypesExecute(r ApiListOSExternalStoragePlatformTypesRequest) (*OSExternalStoragePlatformTypesResp, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OSExternalStoragePlatformTypesResp
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OsExternalStoragePlatformTypesAPIService.ListOSExternalStoragePlatformTypes")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/os-external-storage-platform-types/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	}
	if r.platform != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "platform", r.platform, "form", "")
	}
	if r.platformType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "platform_type", r.platformType, "form", "")
	}
	if r.clusterId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cluster_id", r.clusterId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["tokenInHeader"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Xms-Auth-Token"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["tokenInQuery"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("token", key)
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
