/*
XMS API

XMS is the controller of distributed storage system

API version: XSCALEROS_6.4.000.2
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// DfsGatewayNetworkAddressesAPIService DfsGatewayNetworkAddressesAPI service
type DfsGatewayNetworkAddressesAPIService service

type ApiGetDfsGatewayNetworkAddressRequest struct {
	ctx context.Context
	ApiService *DfsGatewayNetworkAddressesAPIService
	dfsGatewayNetworkAddressId int64
}

func (r ApiGetDfsGatewayNetworkAddressRequest) Execute() (*DfsGatewayNetworkAddressResp, *http.Response, error) {
	return r.ApiService.GetDfsGatewayNetworkAddressExecute(r)
}

/*
GetDfsGatewayNetworkAddress Method for GetDfsGatewayNetworkAddress

Get dfs gateway

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param dfsGatewayNetworkAddressId gateway network address id
 @return ApiGetDfsGatewayNetworkAddressRequest
*/
func (a *DfsGatewayNetworkAddressesAPIService) GetDfsGatewayNetworkAddress(ctx context.Context, dfsGatewayNetworkAddressId int64) ApiGetDfsGatewayNetworkAddressRequest {
	return ApiGetDfsGatewayNetworkAddressRequest{
		ApiService: a,
		ctx: ctx,
		dfsGatewayNetworkAddressId: dfsGatewayNetworkAddressId,
	}
}

// Execute executes the request
//  @return DfsGatewayNetworkAddressResp
func (a *DfsGatewayNetworkAddressesAPIService) GetDfsGatewayNetworkAddressExecute(r ApiGetDfsGatewayNetworkAddressRequest) (*DfsGatewayNetworkAddressResp, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *DfsGatewayNetworkAddressResp
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DfsGatewayNetworkAddressesAPIService.GetDfsGatewayNetworkAddress")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/dfs-gateway-network-addresses/{dfs_gateway_network_address_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"dfs_gateway_network_address_id"+"}", url.PathEscape(parameterValueToString(r.dfsGatewayNetworkAddressId, "dfsGatewayNetworkAddressId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["tokenInHeader"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Xms-Auth-Token"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["tokenInQuery"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("token", key)
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListDfsGatewayNetworkAddressesRequest struct {
	ctx context.Context
	ApiService *DfsGatewayNetworkAddressesAPIService
	limit *int64
	offset *int64
	q *string
	sort *string
	clusterId *string
	dfsGatewayGroupId *int64
	dfsGatewayZoneId *int64
}

// paging param
func (r ApiListDfsGatewayNetworkAddressesRequest) Limit(limit int64) ApiListDfsGatewayNetworkAddressesRequest {
	r.limit = &limit
	return r
}

// paging param
func (r ApiListDfsGatewayNetworkAddressesRequest) Offset(offset int64) ApiListDfsGatewayNetworkAddressesRequest {
	r.offset = &offset
	return r
}

// query param of search
func (r ApiListDfsGatewayNetworkAddressesRequest) Q(q string) ApiListDfsGatewayNetworkAddressesRequest {
	r.q = &q
	return r
}

// sort param of search
func (r ApiListDfsGatewayNetworkAddressesRequest) Sort(sort string) ApiListDfsGatewayNetworkAddressesRequest {
	r.sort = &sort
	return r
}

// cluster id
func (r ApiListDfsGatewayNetworkAddressesRequest) ClusterId(clusterId string) ApiListDfsGatewayNetworkAddressesRequest {
	r.clusterId = &clusterId
	return r
}

// dfs gateway group id
func (r ApiListDfsGatewayNetworkAddressesRequest) DfsGatewayGroupId(dfsGatewayGroupId int64) ApiListDfsGatewayNetworkAddressesRequest {
	r.dfsGatewayGroupId = &dfsGatewayGroupId
	return r
}

// dfs gateway zone id
func (r ApiListDfsGatewayNetworkAddressesRequest) DfsGatewayZoneId(dfsGatewayZoneId int64) ApiListDfsGatewayNetworkAddressesRequest {
	r.dfsGatewayZoneId = &dfsGatewayZoneId
	return r
}

func (r ApiListDfsGatewayNetworkAddressesRequest) Execute() (*DfsGatewayNetworkAddressesResp, *http.Response, error) {
	return r.ApiService.ListDfsGatewayNetworkAddressesExecute(r)
}

/*
ListDfsGatewayNetworkAddresses Method for ListDfsGatewayNetworkAddresses

List dfs gateway network addresses

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiListDfsGatewayNetworkAddressesRequest
*/
func (a *DfsGatewayNetworkAddressesAPIService) ListDfsGatewayNetworkAddresses(ctx context.Context) ApiListDfsGatewayNetworkAddressesRequest {
	return ApiListDfsGatewayNetworkAddressesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return DfsGatewayNetworkAddressesResp
func (a *DfsGatewayNetworkAddressesAPIService) ListDfsGatewayNetworkAddressesExecute(r ApiListDfsGatewayNetworkAddressesRequest) (*DfsGatewayNetworkAddressesResp, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *DfsGatewayNetworkAddressesResp
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DfsGatewayNetworkAddressesAPIService.ListDfsGatewayNetworkAddresses")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/dfs-gateway-network-addresses/"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	}
	if r.q != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "q", r.q, "form", "")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "form", "")
	}
	if r.clusterId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cluster_id", r.clusterId, "form", "")
	}
	if r.dfsGatewayGroupId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "dfs_gateway_group_id", r.dfsGatewayGroupId, "form", "")
	}
	if r.dfsGatewayZoneId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "dfs_gateway_zone_id", r.dfsGatewayZoneId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["tokenInHeader"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Xms-Auth-Token"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["tokenInQuery"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("token", key)
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
